<h1><%= @event.title %></h1><small><%= @event.date %></small>
<div class='row'>
  <div class='col-md-8'>
    <p><%= @contact.notes %> </p>
  </div>
  <div class='col-md-4'>
    <%= link_to "Edit Event", edit_event_path(@event), class: 'btn btn-success' %>
    <%= link_to "Delete Event", [@event], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you wish to delete this event?'} %>
  </div>
</div>
