<div class='page-header'>
<h1><%= @event.title %> <small>(<%=@event.category%>)</small></h1><small><%= @event.date.strftime('%e %B, %Y') %></small>
</div>
<div class='row'>
  <div class='col-md-6'>
    <div class='well'>
      <p><%= @event.notes %> </p>
    </div>
    <%= link_to "Edit Event", edit_event_path(@event), class: 'btn btn-success' %>
    <%= link_to "Delete Event", [@event], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you wish to delete this event?'} %>
  </div>
</div>
<div class='row>'>
  <div class='col-md-8'>
    <h3> Associated Contacts </h3>
    <table class="data-table">
      <thead>
      <tr>
          <th class-'text-center'>Name</td>
          <th class='text-center'>Role</td>
      </tr>
    </thead>
    <tbody>
  <% @event.contacts.each do |contact| %>
  <tr>
    <td><%= link_to contact.name, contact %></td>
    <td><%= contact.role %></td>
  </tr>
  <% end %>
  </tbody>
  </table>
  </div>
</div>
