<%= bootstrap_form_for(@contact) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :contact_info %>
  <%= f.text_area :notes %>
  <%= f.collection_select :role, Contact.roles.map { |a| [a.first.humanize, a.first] }, :last, :first  %>
  <%= f.file_field :image, label: "Upload Headshot (not required)" %>
  <div class='form-group'>
    <%= select_tag 'contact[event_ids]', options_from_collection_for_select(Event.where(user: current_user), "id", "title", :selected => @contact.events.pluck(:id)), multiple: true, class: 'multi-select', id: 'contact_event_ids' %>
    <label for='contact_event_ids'>Tag Events</label>
  </div>
  <div class='form-group'>
    <%= select_tag 'contact[project_ids]', options_from_collection_for_select(Project.where(user: current_user), "id", "title", :selected => @contact.projects.pluck(:id)), multiple: true, class: 'multi-select', id: 'contact_project_ids' %>
    <label for='contact_project_ids'>Tag Projects</label>
  </div>
  <%= f.submit "Save Contact", class: "btn btn-success" %>
<% end %>
