<h1><%= @contact.name %> <small><%= @contact.role %></small></h1>
<div class='row'>
  <div class='col-md-6'>
    <p><%= @contact.contact_info %> </p>
  </div>
  <div class='col-md-4'>
    <%= link_to "Edit Contact", edit_contact_path(@contact), class: 'btn btn-success' %>
    <%= link_to "Delete Contact", [@contact], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you wish to delete this contact?'} %>
  </div>
</div>
<div class='top-buffer'></div>
<div class='row>'>
  <div class='col-md-6 col-sm-12'>
    <h3>Associated Events</h3>
    <table id="events">
      <thead>
      <tr>
          <th class-'text-center'>Name</td>
          <th class='text-center'>Category</td>
          <th class='text-center'>Date</td>
      </tr>
    </thead>
    <tbody>
  <% @contact.events.each do |event| %>
  <tr>
    <td><%= link_to event.title, event %></td>
    <td><%= event.category %></td>
    <td><%= event.date %></td>
  </tr>
  <% end %>
  </tbody>
  </table>
</div>
<div class='col-md-6 col-sm-12'>
  <h3>Associated Projects</h3>
  <table id="projects">
    <thead>
    <tr>
        <th class-'text-center'>Name</td>
        <th class='text-center'>Category</td>
        <th class='text-center'>Date</td>
    </tr>
  </thead>
  <tbody>
<% @contact.projects.each do |project| %>
<tr>
  <td><%= link_to project.title, project %></td>
  <td><%= project.category %></td>
  <td><%= project.date %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>
