<div class='page-header'>
<h1><%= @project.title %> <small>(<%=@project.category%>)</small></h1><small><%= @project.date %></small>
</div>
<div class='row'>
  <div class='col-md-8'>
    <p><%= @project.notes %> </p>
  </div>
  <div class='col-md-4'>
    <%= link_to "Edit Project", edit_project_path(@project), class: 'btn btn-success' %>
    <%= link_to "Delete Project", [@project], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you wish to delete this project?'} %>
  </div>
</div>
<div class='row>'>
  <div class='col-md-8'>
  <h3>Associated Contacts</h3>
  <table id="contacts">
    <thead>
    <tr>
        <th class-'text-center'>Name</td>
        <th class='text-center'>Role</td>
    </tr>
  </thead>
  <tbody>
<% @project.contacts.each do |contact| %>
<tr>
  <td><%= link_to contact.name, contact %></td>
  <td><%= contact.role %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>
