<!DOCTYPE html>
<html>
  <head>
    <title>Actorolo</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--uses bootstrap-select for dropdowns-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
  </head>

  <body>
    <div class='navbar navbar-primary bg-primary'>
      <div class='navbar-brand'>Actorolo</div>
      <ul class="nav nav-tabs">
        <li><%= link_to "About", welcome_about_path %></li>
        <li><%= link_to "Contacts", contacts_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Projects", projects_path %></li>
        <% if user_signed_in? %>
          <li class="pull-right"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li class='pull-right'><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
          <li class='pull-right'><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li class='pull-right'><%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
        <%= form_tag search_index_path, class: 'pull-right searchbar', method: :get do %>
          <%= text_field_tag :query, params[:query], placeholder: "Search Site" %>
          <%= submit_tag 'Go', class: 'btn btn-info btn-xs' %>
        <% end %>
      </ul>
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
